<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>출석부</title>
  <link rel="stylesheet" href="/css/attendanceRegister-p.css">
</head>
<div th:replace="/fragments/header.html :: fragment-header"></div>
<body>

<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<div class="attendance-container d-flex justify-content-center align-items-start" style="min-width: 100em;">
  <!-- 세부 메뉴 div-->
  <div class="sub--menu">
    <div class="sub--menu--top">
      <h2>강의</h2>
    </div>
    <div class="sub--menu--mid">
      <table class="sub--menu--table" border="1">
        <tr>
          <td><a href="/registration/registration-p" class="selected--menu">담당 강의</a></td>
        </tr>
        <tr>
          <td><a href="/registration/application-p">강의 개설 신청</a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="main-container">
    <div class="main-title">
      <h1>출석부</h1>
      <div class="split-div-post"></div>
      <form action="/submit-attendance" method="POST" class="attendance-form">
        <table class="table-custom" cellpadding="10">
          <thead>
          <tr>
            <th>학생 이름</th>
            <th>출석</th>
            <th>지각</th>
            <th>결석</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>홍길동</td>
            <td><input type="radio" name="attendance_1" value="출석" required> 출석</td>
            <td><input type="radio" name="attendance_1" value="지각"> 지각</td>
            <td><input type="radio" name="attendance_1" value="결석"> 결석</td>
          </tr>
          <tr>
            <td>김철수</td>
            <td><input type="radio" name="attendance_2" value="출석" required> 출석</td>
            <td><input type="radio" name="attendance_2" value="지각"> 지각</td>
            <td><input type="radio" name="attendance_2" value="결석"> 결석</td>
          </tr>
          <tr>
            <td>이영희</td>
            <td><input type="radio" name="attendance_3" value="출석" required> 출석</td>
            <td><input type="radio" name="attendance_3" value="지각"> 지각</td>
            <td><input type="radio" name="attendance_3" value="결석"> 결석</td>
          </tr>
          </tbody>
        </table>

        <div class="submit-button-container">
          <button type="submit" class="submit-button">출석 제출</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
