<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/Eupdate">
    <input type="hidden" name="empno" th:value="${empno}"/>
    ENAME: <input type="text" name="ename" value=""/><br>
    JOB: <input type="text" name="job" value=""/><br>
    MGR: <input type="text" name="mgr" value=""/><br>
    HIREDATE: <input type="date" name="hiredate" value=""/><br>
    SAL: <input type="text" name="sal" value=""/><br>
    COMM: <input type="text" name="comm" value=""/><br>
    DEPTNO: <input type="text" name="deptno" value=""/><br>
    <button type="submit">확인</button>
</form>
</body>
</html>