<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일정</title>
  <link rel="stylesheet" href="/css/schedule.css">
</head>
<body>
<!-- 헤더 -->
<div th:replace="/fragments/header.html :: fragment-header"></div>
<!-- 네비게이션 -->
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<div class="d-flex justify-content-center align-items-start" style="min-width: 100em;">
  <!-- 세부 메뉴 div-->
  <div class="schedule-list">
    <div class="sub--menu--top">
      <h2 th:text="${currentMonth} + '월 일정'"></h2>
    </div>
    <!-- 메뉴 -->
    <!-- 선택된 메뉴에 class="selected--menu" 추가해주세요 -->
    <div class="sub--menu--mid">
      <table class="sub--menu--table" th:each="schedule : ${schedules}" th:if="${!schedules.isEmpty()}">
        <tr>
          <td th:text="${schedule.scheduleDate +' | '+ schedule.title}"></td>
        </tr>
      </table>
      <table class="sub--menu--table" th:if="${schedules.isEmpty()}">
        <tr>
          <td><h3 style="text-align:center">이번 달 일정이 없습니다</h3></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="main--container">
<!-- 캘린더 -->
<div class="calendar-container">
  <div class="calendar-header">
    <a th:href="@{/post/schedule(year=${prevYear}, month=${prevMonth})}" class="arrow-button">&lt;</a>
    <h2>
      <span th:text="${currentYear} + '년 ' + ${currentMonth} + '월'"></span>
    </h2>
    <a th:href="@{/post/schedule(year=${nextYear}, month=${nextMonth})}" class="arrow-button">&gt;</a>
  </div>

  <!-- 요일 표시 -->
  <div class="calendar-weekdays">
    <div>일</div>
    <div>월</div>
    <div>화</div>
    <div>수</div>
    <div>목</div>
    <div>금</div>
    <div>토</div>
  </div>

  <!-- 날짜 그리드 -->
  <div id="calendarGrid" class="calendar-grid">
    <div th:each="day : ${days}" class="calendar-day">
      <span th:if="${day != null}" th:text="${day}"></span>

      <!-- 해당 날짜의 일정 표시 -->
      <div th:each="schedule : ${schedules}"
           th:if="${schedule.scheduleDate.dayOfMonth == day}"
           class="schedule-box">
        <span th:text="${schedule.title}"></span>
      </div>
    </div>
  </div>
</div>
</div>
  </div>
</div>
</body>
</html>
