<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="fragment-nav">
        <header class="d-flex flex-column">
            <div class="header--top" th:if="${!#lists.isEmpty(session.authInfo)}">
                <ul>
                    <li class="material--li"><span class="material-symbols-outlined">account_circle</span>
                    <li th:text="${session.authInfo.name  + '(' + session.authInfo.id + ')'}">박성희님 (230001)
                    <li style="margin: 0 15px;">ㅣ
                    <li class="material--li"><span style="color: #9BD2EC;" class="material-symbols-outlined">logout</span>
                    <li><a href="/logout">로그아웃</a>
                </ul>
            </div>
            <div class="header--top" th:if="${#lists.isEmpty(session.authInfo)}">
                <ul>
                    <li class="material--li"><span class="material-symbols-outlined">account_circle</span>
                    <li>로그인이 필요합니다
                    <li style="margin: 0 15px;">ㅣ
                    <li class="material--li"><span style="color: #9BD2EC;" class="material-symbols-outlined">login</span>
                    <li><a href="/loginForm">로그인</a>
                </ul>
            </div>

            <nav class="main--menu">
                <a href="/"><img class="logo" alt="" src="/images/logo.png"></a>
                <!-- userRole에 따라 메뉴 다르게 표시 -->
                <ul th:if="${!#lists.isEmpty(session.authInfo)}">
                    <li><a href="/">홈</a>
                    <li><a href="/info/staff">MY</a>
                    <li th:if="${session.authInfo.job.equals('학생')}"><a href="/info/grade">성적</a>
                    <li th:if="${session.authInfo.job.equals('교수')}"><a href="/info/gradeList">성적</a>
                    <li th:if="${session.authInfo.job.equals('학생')}"><a href="/registration/registration-s">수강</a>
                    <li th:if="${session.authInfo.job.equals('교수')}"><a href="/registration/registration-p">강의</a>
                    <li th:if="${session.authInfo.job.equals('관리자')}"><a href="/management/main">관리</a>
                    <li><a href="/post/notice">게시판</a>
                </ul>
                <ul th:if="${#lists.isEmpty(session.authInfo)}">
                    <li><a href="/">홈</a>
                    <li><a href="/info/staff">MY</a>
                    <li><a href="/info/grade">성적</a>
                    <li><a href="/registration/registration-s">수강</a>
                    <li><a href="/post/notice">게시판</a>
                </ul>
            </nav>
        </header>
    </div>
</html>